

@model IEnumerable<WebProgect.Models.LogsModal>

@{
    ViewBag.Title = "Logs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
